/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #98c9b9;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #f5820e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #222;
    color: rgb(237, 128, 19);
    font-size: 2rem;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #16eabc;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #777c7e;
}

.zero {
    grid-column: span 2;
}
