body{
    background-color: khaki;
}



h1{
    background-color: lightcoral;
    height: 200px;
    width:200px;
    border-width:5px; /* makes the border roundeed */
    border-style:double;
    text-align: center;
    border-color: rgb(20, 190, 220);
    border-radius: 100%;
    line-height: 200px;
    margin-bottom:50px;

}

p{
    background-color:rgba(255,0,0, 0.5);
    height: 70px;
    width:600px;
    border-width:5px;
    border-style:dotted;
    border-color: rgb(142, 23, 23);
    margin-bottom: 5px;
    
}

button{
    border: 5px solid black;
    background-color: lightblue;
    width:100px;
    margin-top: 2px;
}

#outer{
    background-color: black;
    height:400px;
    width:150px;
    border-style:none;
    margin-bottom:25px;
}

#inner1{
    background-color: red;
    width:50px;
    height:50px;
    border-radius: 50%;
    border-style:none;
   
}

#inner2{
    background-color:yellow;
    width:50px;
    height:50px;
    border-radius: 50%;
    border-style:none;
    visibility:hidden
   
}

#inner3{
    background-color: green;
    width:50px;
    height:50px;
    border-radius: 50%;
    border-style:none; 
   
}

div{
    height: 100px;
    width:100px;
    border-width:20px;
    background-color: darkolivegreen;
    border-style: groove;
    border-color: rgb(21, 218, 205);
    padding-left:50px;
    padding-right: 0px;
    padding-top: 60px;
    padding-bottom: 0px; 
    display:inline-block
}

#new{
    background-color: rgba(0,0,255,0.5);
    display: inline-block;
    width:25px;
    height: 25px;
    margin: 10px;
    padding: 10px;
}

#new1{
    background-color: rgba(0,0,255,0.75);
    display: inline-block;
    width:25px;
    height: 25px;
    margin: 10px;
    padding: 10px;
}

#new2{
    background-color: rgba(0,0,255,1);
    display: inline-block;
    width:25px;
    height: 25px;
    margin: 10px;
    padding: 10px;
}

